
body {
   background-color: rgb(142, 202, 230);
   background-color: rgb(33, 158, 188);
   background-color: rgb(2, 48, 71);
   background-color: rgb(255, 183, 3);
   background-color: rgb(251, 133, 0);
}